name: Release Management

on:
  push:
    branches:
      - master

jobs:
  update-draft-release:
    name: Draft release
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    # https://github.com/release-drafter/release-drafter
      - uses: release-drafter/release-drafter@v6.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
